# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/

# Virtualenv
pip-wheel-metadata/

# VSCode
.vscode/

# macOS
.DS_Store

# Node
node_modules/
frontend/node_modules/

# Logs
*.log

# Others
coverage/
htmlcov/
.pytest_cache/
